[Unit]
Description=Ignition Webserver

[Service]
WorkingDirectory=/var/www/html
ExecStart=/usr/bin/python3 -m http.server

[Install]
WantedBy=multi-user.target
